<div class="content">
  <div class="container">
    <md-content>
      <md-card class="no-padding">
        <md-nav-list>
          <md-list-item *ngFor="let contact of contacts | async">
            <a md-line (click)="showDetails(contact.$key)">{{contact.firstname}} {{contact.lastname}}</a>
            <!--<button md-icon-button (click)="showInfo(link)">
                <md-icon>info</md-icon>
            </button>-->
          </md-list-item>
        </md-nav-list>
      </md-card>
    </md-content>
  </div>
</div>