<div class="content">
  <div class="container">
    <md-card class="no-padding" *ngIf="contact">
      <md-list>
        <md-list-item>
          <h2>{{contact.firstname}} {{contact.lastname}}</h2>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <div class="md-list-item-text">
            <p>{{contact.line1}}</p>
            <p>{{contact.line2}}</p>
            <p>{{contact.city}}</p>
            <p>{{contact.county}}</p>
            <p>{{contact.postcode}}</p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <span><md-icon>email</md-icon> {{contact.email}}</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <span><md-icon>phone</md-icon> {{contact.tel}}</span>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>