<div class="content">
  <div class="container">
    <md-card *ngIf="contact">
      <div class="row">
        <h2 class="item">{{contact.firstname}} {{contact.lastname}}</h2>
        <div class="item right">
          <button md-fab color="warn">
            <md-icon class="md-24">edit</md-icon>
          </button>
        </div>
      </div>
      <p class="col">
        <span>{{contact.line1}}</span>
        <span>{{contact.line2}}</span>
        <span>{{contact.city}}</span>
        <span>{{contact.county}}</span>
        <span>{{contact.postcode}}</span>
      </p>
      <div class="col">
        <span *ngIf="contact.email" class="row">
          <md-icon class="pad-right">email</md-icon>
          <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </span>
        <span *ngIf="contact.tel" class="row">
          <md-icon class="pad-right">phone</md-icon>
          {{contact.tel}}
        </span>
        <div class="item right">
          <button md-button (click)="back($event)">BACK</button>
        </div>
      </div>
    </md-card>
  </div>
</div>